# Compiled Sources #
*.o
*.out

# Log Files #
*.log

# Temp / Swap Files #
.*.swp
*.*~
tmp/

# Compiled versions
spwr
snav
seng
scomms

# Project Specific files
.project

# LaTeX files
*.aux
*.toc
*.bbl
*.blg
*.synctex.gz
